Repository xorbitsai/xoscar, pull requests merged in 2024-07, with the labels that each got.

#90 BLD: Fix build_wheel.yml
  .github/workflows/build-wheel.yaml
Labels: build

#92 ENH: fix non-local client connection problem when server listen on 0.0.0.0
  python/xoscar/backends/context.py
  python/xoscar/tests/test_utils.py
  python/xoscar/utils.py
Labels: enhancement

#87 fix: invalid state
  python/xoscar/backends/core.py
Labels: bug

#94 BLD: Fix macos build error
  .github/workflows/build-wheel.yaml
Labels: build

#98 BLD: Fix macos build
  .github/mergify.yml
  .github/workflows/build-wheel.yaml
  .github/workflows/python.yaml
Labels: build

#97 Fix: remove_sub_pool should kill subprocess gracefully
  python/xoscar/backends/indigen/pool.py
Labels: bug
